.form {
  display: flex;
  border: 2px solid #5394A0;
}

.input {
  border: none;
  border-radius: 0;
  width: 80%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
} 

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #203A43, #2C5364, #5394A0) !important;  
  background: linear-gradient(to right, #203A43, #2C5364, #5394A0) !important; 
  padding: 8px;
  display: inline-block;
  border: none;
  z-index: 10;
}


#messageType input[type='text'] {
  border: none !important;
}