
.linkedin-color {
color: #0e76a8;
}

h1.teamh1 {
    margin: 0;
    position: absolute;
    top: -16px;
    text-align: center;
    left: 40%;
    background-color: white;
    padding: 0px 20px;
  }
  
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }
  
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  .cf {
      *zoom: 1;
  }
  
  .teamcontainer {
    max-width: 1000px;
    margin: auto;
    border-top: 1px #e9e9e9 solid;
    border-bottom: 1px #e9e9e9 solid;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 3em;
    position: relative;
  }
  
  .teammember {
    width: 16%;
    float: left;
    text-align: center;
    margin-right: 5%;
  }
  
  .teammember:last-child {margin-right: 0;}
  
  
  .teammember span,
  .teammember h4 {
    max-width: 200px;
    letter-spacing: -1px;
  }
  
  .teammember h4 {
    color: #5394A0;
  }
  
  .email {
    color: #EA2678;
    
  }
  
  .teammember span {
    display: block;
   
  }
  .teamphoto {
    border-radius: 50%;
    text-align: center;
    margin: auto;
    max-width: 100%;
    height: auto;
    transition: 0.1s transform ease-in-out;
  }
  
  
  .teamphoto:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  
  
  /* code for phone layout */
  @media (max-width:850px){
    .teammember {
      width:25%;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 40px;
      
    }
    
  }
  
  
  
  @media (max-width:650px){
    .teammember {
      float: none;
      display: block;
      margin: 50px auto;
      width: 100%;
      text-align: center;
    }
    
    .teammember h4,
    .teammember span {
      margin: 15px auto;
    }
  }
  
  