
.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container {
  background-color: transparent !important;
}


input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.joinInnerContainer {
  width: 80%;
}

.joinInput {
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}